<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCA Font Library</title>
    
    <!-- 
      This file centralizes all font imports for the UCA website.
      Fonts are sourced from cdnfonts.com and categorized by brand.
    -->

    <!-- ====================================================================== -->
    <!-- UCA GLOBAL BRANDING FONTS                                              -->
    <!-- ====================================================================== -->
    <link href="https://fonts.cdnfonts.com/css/monument-extended" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/satoshi" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/bricolage-grotesque" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/medio" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/avigea" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/quesha" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/livingston" rel="stylesheet">


    <!-- ====================================================================== -->
    <!-- CLUB-EXCLUSIVE FONTS                                                   -->
    <!-- ====================================================================== -->

    <!-- Debate Club -->
    <link href="https://fonts.cdnfonts.com/css/made-canvas" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/libre-baskerville" rel="stylesheet">

    <!-- Photography Club -->
    <link href="https://fonts.cdnfonts.com/css/coco-gothic" rel="stylesheet"> 
    <!--Coco gothic looks good, but can't be used for numbers-->
    <link href="https://fonts.cdnfonts.com/css/antipasto" rel="stylesheet">
    <!--Antipasto However, Is a jack of all trades-->
    <link href="https://fonts.cdnfonts.com/css/one-day" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/london-2" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/abyssopelagic" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/luxiachy" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/luxia" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/baron-neue" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/astroz" rel="stylesheet">
                
    <!-- Sports Club -->
    <link href="https://fonts.cdnfonts.com/css/nfs-font" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/sf-sports-night" rel="stylesheet">
                

    <!-- Quiz Club -->
    <link href="https://fonts.cdnfonts.com/css/lexend" rel="stylesheet">
    
    <!-- Science Club -->
    <link href="https://fonts.cdnfonts.com/css/elianto" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/raleway" rel="stylesheet">

    <!-- ICT Club -->
    <link href="https://fonts.cdnfonts.com/css/azonix" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/yuruy" rel="stylesheet">

    
    <link href="https://fonts.cdnfonts.com/css/blanka" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/canavar" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/sweet-bread" rel="stylesheet">

    <!-- Language Club -->
    <link href="https://fonts.cdnfonts.com/css/cinzel-decorative" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/eb-garamond" rel="stylesheet">
    
    <!-- Cultural Club -->
    <link href="https://fonts.cdnfonts.com/css/made-mirage" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">

    <!-- Green Club -->
    <link href="https://fonts.cdnfonts.com/css/quicksand" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/existence-light" rel="stylesheet">

</head>
<body>
  <!-- This file is for font imports only and should not contain visible content. -->
</body>
</html>